/* table{
    text-align: center;
    width: 100%;
}
 th{
    border: 1px solid rgb(214, 214, 214);
    font-size: medium;
    font-weight: 600;
    text-align: center;
}
*/
/* th{
    border: 1px solid rgb(214, 214, 214);

}
tr , td{
    border: 1px solid rgb(214, 214, 214);
    font-size: medium;
    font-weight: 100;
}  */