table{
    width: 100%;
    text-align: left;
    text-indent: 50px;    
}
thead,tr,th,tbody,td{
    height: 40px;   
}
tbody tr,td{
    font-family: 'barlow';
    font-size: 10px;
    font-weight: bold;
    color: rgb(148, 148, 148);
    /* border: 1px solid black; */
}

select {
  background: transparent;
  border: 1px solid rgb(185, 185, 185);
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-family: 'barlow';
  color: rgb(185, 185, 185);
  cursor: pointer;
}
