@import url("https://fonts.googleapis.com");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Barlow:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-barlow: "Barlow", sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;
  display: none;
}
body::-webkit-scrollbar-track {
  background: #eee;
}
body::-webkit-scrollbar-thumb {
  background: #ff4d00;
  border: 2px solid #eee;
  border-radius: 20px;
}


